.app-window-container {
  width: 700px;
  height: 500px;
  border-radius: 5px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -350px;
  margin-top: -250px;
}

.app-window-container--maximixed {
  top: 0;
  left: 0;
  margin: 0;
  width: 100vw;
  height: 100vh;
}

.app-window__bar {
  width: 100%;
  height: 25px;
  background-color: #f5f5f5;
  border-radius: 5px 5px 0 0;
  display: flex;
  align-items: center;
}

.focus-window {
  z-index: 1;
}

.window__icon {
  width: 13px;
  height: 13px;
  border-radius: 50%;
  margin: 0 5px;
}

.window-icons {
  display: flex;
}

.window__icon--red {
 background-color: #f44336;
}
.window__icon--yellow {
 background-color: #ffeb3b;
}
.window__icon--green {
 background-color: #4caf50;
}

.window__title {
  text-align: center;
  flex-grow: 1;
  user-select: none;
}

.app-window__content {
  width: 100%;
  height: 100%;
  background-color: #263238;
  background-image: url(/assets/img/vscode-bg.png);
  background-size: cover;
}